{% extends '@MMAdmin/Admin/page.html.twig' %}

{% set pageHeadline = "Pagemanagment Section" %}
{% set pageSubline = "" %}

{% block admin_page_body %}

    {% set entity = form.vars.data %}

    <div class="box box-default">
        <div class="box-header"><h2 class="box-title">Seite bearbeiten</h2></div>
        <div class="box-body">
            {% block admin_content %}
                {{ form_start(form) }}

                {% set buttongroup %}
                    <div class="form-actions clearfix">
                        {{ form_widget(form.submit) }}
                        {{ form_widget(form.save_and_add) }}
                        {{ form_widget(form.save_and_back) }}

                        <a class="btn btn-warning btn-abort" href="{{ path('mm_cmf_admin_page_addon_page') }}">
                            <i class="fa fa-close"></i> {{ 'abort'|trans }}</a>
                    </div>
                {% endset %}

                <div class="form-side">
                    {{ form_widget(form.visible) }}
                </div>

                <div class="form-main col-xs-8">
                    {{ form_rest(form) }}
                </div>

                {% if isRoutingAddonEnabled %}
                    {% include '@MMCmfAdminPageAddon/Page/routes.html.twig' %}
                {% endif %}

                <div class="form-foot col-xs-12">
                    {{ buttongroup }}
                </div>
                {{ form_end(form) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}