<div class="box box-default">
    <div class="box-header"><h2 class="box-title">{{ 'Create Page' }}</h2></div>
    <div class="box-body">
        {% block admin_content %}
            {% set buttongroup %}
                <div class="form-actions clearfix">
                    {{ form_widget(data.form.submit) }}
                    {{ form_widget(data.form.save_and_add) }}
                    {{ form_widget(data.form.save_and_back) }}

                    <a class="btn btn-warning btn-abort" href="{{ path('mm_cmf_admin_page_addon_page') }}">
                        <i class="fa fa-close"></i> abbrechen
                    </a>
                </div>
            {% endset %}
            {{ form_start(data.form) }}
            <div class="form-main col-xs-12">{{ form_rest(data.form) }}</div>
            <div class="form-foot col-xs-12">{{ buttongroup }}</div>
            {{ form_end(data.form) }}
        {% endblock %}
    </div>
</div>
