    <div class="form-group">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'add new route'|trans }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a rel="ajax" href="{{ path('mm_cmf_admin_routing_addon_noderoute_new', { node_route_type: 'alias', page: form.vars.data.id }) }}">{{ 'alias'|trans }}</a></li>
                <li><a rel="ajax" href="{{ path('mm_cmf_admin_routing_addon_noderoute_new', { node_route_type: 'redirect', page: form.vars.data.id }) }}">{{ 'redirect'|trans }}</a></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="list-group">
            {% for route in form.vars.data.routes %}
                <a class="list-group-item" rel="ajax" href="{{ path('mm_cmf_admin_routing_addon_noderoute_edit', {id: route.id}) }}">
                    {{ route.route }}
                    {% set discr = node_route_factory.getDiscriminatorByClass(route) %}
                    <span class="pull-right label label-{% if discr == 'auto' %}primary{% else %}default{% endif %}">{{ node_route_factory.getDiscriminatorByClass(route)|trans }}</span>
                </a>
            {% endfor %}
        </div>
    </div>